<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/guia.css">
    <script src="https://use.fontawesome.com/585d303aa0.js"></script>
</head>
<body>
    <main class="container">
        <div class="row">
            <div class="col-12">
                <p><strong> Consejos para poder escoger las películas más adecuadas según su edad:</strong>
                    <br>
                    <br>
                    1- Hasta los 4 años mejor de dibujos animados. Los cuentos simples con finales felices y mucha imaginación y color son indispensables para inculcar valores sencillos en los niños como el bien y el mal, o los peligros de la vida.
                    <br>
                    2- Ver primero películas antiguas. Actualmente la estética del videoclip, donde las imágenes se suceden de forma frenética y no queda hueco para la reflexión ni para la pausa, suele hacer que las películas más antiguas aburran a los niños; son más lentas, no son visualmente tan impactantes, y el guión es más pausado. Así que, si vuestros hijos todavía no están viciados por ese maremágnum de imágenes, serán capaces de apreciar la belleza de aquellas películas. Os sorprenderá ver cómo se ríen con los Hermanos Marx o el Gordo y el flaco.
                    <br>    
                    3- Introducir películas infantiles con actores reales. A partir de los cinco años, podéis empezar a introducirlas, le dan un matiz diferente hasta lo que ahora han visto, ya que les parecerá más real. Por tanto es importante que estéis a su lado para poder explicarlas adecuadamente ya que habrá cosas que no entenderán.
                    <br>    
                    4- Escoge películas con pocos personajes, ya que si no se perderán en la trama; de temática sencilla (cuidado con las películas japonesas o manga que tras una estética infantil esconden películas de adultos); ni demasiado largas, ya que más de dos horas no conseguirás tenerlos en una silla sentados.
                     <br>   
                    5- Intercala algunas películas históricas o didácticas a partir de los seis años.
                </p>
            </div> 
        </div>  
            <div class="container">
                <div class="row">
                    <div class="col-12"></div>
                        <p> <strong> Sistema de clasificacion de peliculas y/o films en USA</strong></p>
                </div>
            </div>
            <div class="row">
            <div class="col-6">
                <p>
                1. <strong> G – “Público en general”:</strong>
                    Aplica cuando un film no contiene desnudos, contenido sexual, uso de drogas o lenguaje fuerte. La violencia es mínima y el tema de la película es bastante apropiado para niños. Según la MPAA, el calificativo “G” no indica necesariamente que sea una película para niños.
                    <br>        
                    <strong>2.  PG – “Control de Padres Sugerido. Algún contenido puede no ser apropiado para niños”:</strong>
                    Esta calificación de aplica cuando los miembros creen que el film contiene temática o contenido que los padres pueden encontrar inapropiado para niños. El film puede contener algún tipo de palabras soeces, violencia o breves desnudos pero solo en pequeña intensidad. Una película calificada como “PG” no puede incluir el uso de drogas.
                     <br>   
                    <strong> 3.  PG-13 - “Advertencia severa a los padres. Algún contenido puede ser inapropiado para niños menores de 13 años”:</strong>
                    la MPAA añadió esta calificación en 1984 para denotar un film en el cual la violencia, uso de lenguaje o contenido sexual es lo suficientemente intenso como para que algunos padres no quisieran exponer a sus hijos a dicho film, pero no tan intenso para una calificación “R”. Cualquier película que incluya el uso de drogas recibirá al menos el calificativo de “PG-13”. Una cinta de este tipo puede incluir el uso simple de lo que el comité llama una “fuerte palabra de contenido sexual” mientras sea usada como exclamación, más no en un contexto meramente sexual.
                </p>
            </div>

            <div class="col-6">
                <p>
                 <strong> 4.  R - “Restringido. Personas menores de 17 años requieren la compañía del padre o un adulto”:</strong>
                El Comité aplica esta calificación a películas en las cuales se consideran que incluyen un alto nivel de contenido para adultos, como uso excesivo de palabras soeces, violencia intensa, contenido explícitamente sexual y uso extensivo de drogas. En algunos estados, la edad mínima para ver una película de tipo “R” sin acompañamiento es 18.
                 <br>                           
                <strong>  5.  NC-17: “Ninguna persona menor de 17 debe ser admitida”: </strong> Originalmente llamada “X”, esta calificación es aplicada a filmes en los cuales el Comité considera que el contenido adulto es más intenso que en una película “R”, pero no implica algún tipo de obscenidad. Como en los filmes calificados como “R”, la edad mínima para ver una película “NC-17” es 18 en algunos estados.
                  <br>          
                El proceso de calificación es enteramente opcional; ningún realizador está obligado a enviar su film para ser calificado por la CARA. Muchos realizadores lo hacen porque la mayoría de salas de cine en los Estados Unidos usa el sistema de calificación, y es difícil de que una película sea exhibida si no está calificada. Los realizadores que no envían sus películas al Comité de Calificación son libres de lanzar sus películas sin calificar o aplicar otros sistemas de calificación, sin embargo no pueden usar las calificaciones antes mencionadas pues son marcas registradas. La CARA no está asociada con el gobierno norteamericano y sus calificaciones no tienen ningún significado legal.
                                            
                El sistema de calificaciones es usado cuando las películas son estrenadas en los cines y cuando son lanzadas en video. Su uso está restringido a los Estados Unidos. Organizaciones de calificación en otros países aplicar sus propios sistemas a las películas estadounidenses y, a su vez, el Comité de Calificación norteamericano clasifica las películas extranjeras con su sistema, independientemente de la clasificación obtenida en otro país.
            </p>
        </div>
    </div>                          
            <div class="">
                <div class="row justify-content-center">
                    <div class="centrar col-12">
                        <img class="gif" src="assets/images/Fiesta-del-Cine.gif" alt="">
                    </div>
                </div>
            </div>
       <a class="return" href="home.html"><p>Regresar</p></a>
    </main>
    <script src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/app.js"></script>    
</body>
</html>