<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MovieKids</title>
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">

  <!-- Icono que aparece junto al title -->
  <link rel="Shortcut Icon" href="../assets/images/cameraMK.ico"/>
  <script src="https://use.fontawesome.com/585d303aa0.js"></script>
</head>
<body class="bg-fondo">
  <nav class="navbar navbar-expand-xs grey">
    <a class="navbar-brand col-5" href="#"><img src="../assets/images/logokids.png"  class="img-logo centrar center-block" alt=""></a>
    <a class="navbar brand col-1 mr-auto game" href="game.html"><span class="fa fa-gamepad" aria-hidden="true"></span></a>
    <div id="navbarTogglerDemo03">
      <a href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <span id="name-user" class="d-none d-md-inline-block name">nombre de usuario</span><img id="photo-user" class="d-lg-inline-flex img-user" alt="">
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a id="favorites" class="dropdown-item" data-toggle="modal" data-target="#modal-favorites" href="#">Favoritos</a>
        <a id="add-list" class="dropdown-item" href="#">Agregar lista</a>
        <a id="signOut" class="dropdown-item" href="#">Cerrar</a>
      </div>
    </div>
  </nav>
  <section class="container">
    <div class="row p-4">
      <div class="col-md-8">
        <input id="title" class="form-control mr-sm-0 m-2" type="search" placeholder="Ejemplo: barbie" aria-label="Search">
        <button id="searchBtn" class="btn btn-outline-success m-2" type="submit">Search</button>
        <div id="results" class="row justify-content-around"></div>
        <div id="results-checkboxs"></div>
        <div id="modals"></div>
        <div id="modalsCheck"></div>
      </div>
      <div class="col-md-4">
          <div class="card rounded">
              <div class="card-body">
                <h3 class="card-title text-center">Filtros</h3>
                <hr>
                <br>
                <h5>Clasificación</h5>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="TV-Y" id="rated3">
                  <label class="form-check-label" for="defaultCheck">De 2-6 años (TV-Y)</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="TV-Y7" id="rated2">
                  <label class="form-check-label" for="defaultCheck">De 7 a más(TV-Y7);</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="G" id="rated1">
                  <label class="form-check-label" for="defaultCheck">Audiencia General (G)-(TV-G)</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="PG" id="rated4">
                  <label class="form-check-label" for="defaultCheck">Acompañado de un adulto (TV-PG)</label>
                </div>
                <br>
                <h5> Estudios Cinematograficos</h5>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Cartoon" id="prod3">
                  <label class="form-check-label" for="defaultCheck">
                    Cartoon Networks
                  </label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Disney" id="prod1">
                <label class="form-check-label" for="defaultCheck">
                  Disney Pictures
                </label>
                </div>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Dreamworks" id="prod2">
                  <label class="form-check-label" for="defaultCheck">
                    DreamWorks Pictures
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Illumination" id="prod7">
                  <label class="form-check-label" for="defaultCheck">
                    Ilumination
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Pixar" id="prod5">
                  <label class="form-check-label" for="defaultCheck">
                    Pixar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Universal" id="prod4">
                  <label class="form-check-label" for="defaultCheck">
                   Universal Cartoon Studios
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Warner" id="prod6">
                  <label class="form-check-label" for="defaultCheck">
                    Warner Bros Entertainment
                  </label>
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>
  <!-- Modal de lista Favoritos -->
  <div class="modal fade" id="modal-favorites" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Favoritos   <i class="fa fa-star" aria-hidden="true"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="container-items" class="modal-body">
          <li><i class="fa fa-check-square-o" aria-hidden="true"></i></i><input type="text" name="" placeholder="Escribe aquí..."><span id="delete-item"><i class="fa fa-trash" aria-hidden="true"></span></i></li>
        </div>
        <div class="modal-footer">
          <button id="add-item" type="button" class="btn btn-secondary">Nueva Lista</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src = " https : // use.fontawesome . com / 41c1af74a7.js " ></script>
  <!-- <script src="../js/autentication.js"></script> -->
  <script src="../js/autentication.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>
